:root {
    box-sizing: border-box;
    font-size: calc(1vw +.6em);
}
body {
    margin: 0;
    background-color: #f3ebd7;
    font-family: 'Fredoka One', sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 860px;
}
.akardion {
    padding: 1rem;
}
.akardion__item:first-of-type{
    border-top: 1px solid #6e6e6e;
}
.akardion:hover .akardion__icon{
    opacity: 1;
}
.akardion:hover label{
    color: rgb(167 148 58);
}
.akardion__item {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 1px solid #6e6e6e;
}
.akardion__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1em 1.5em;
    transition: color .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.akardion__icon{
    opacity: 0;
    transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1)
}
.akardion__content{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 0;
    opacity: 0;
    cursor: pointer;
    transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.akardion__content:active > img {
    transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1);
    opacity: .5;
}
.akardion__content:active + .akardion__text {
    color: black;
}
.akardion__content > img {
    object-fit: contain;
    object-position: center;
}
.akardion__checkbox{
    display: none;
}
.akardion__checkbox:checked + .akardion__content,
.akardion__item:hover .akardion__content{
    height: 40vh;
    margin-bottom: 1em;
    opacity: 1;
}
.akardion__checkbox:checked ~ label {
    color: rgb(167 148 58);
}
.akardion__checkbox:checked ~ label > .akardion__icon{
    transform: rotate(180deg);
}